@use "../abstracts/colors" as colors;
$colors: colors.$colors;

.outline {
    background-color: var(--outline-background-color);
    color: var(--outline-color);
    border-color: var(--outline-border-color);
    border-style: var(--outline-border-style);
    border-width: var(--outline-border-width);
}


@each $name, $value in $colors {
    .outline-#{$name} {
        background-color: var(--outline-background-color);
        color: #{$value};
        border-color: #{$value};
        border-style: var(--outline-border-style);
        border-width: var(--outline-border-width);
    }
}
