@use "sass:math";
@use "../abstracts/breakpoints" as bp;
$breakpoints: bp.$breakpoints;
$columns: 12;


.row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-inline: calc(var(--col-gutter) * -0.5);
}

@mixin col-base {
    display: flex;
    flex-direction: column;
    padding-inline: calc(var(--col-gutter) * 0.5);
}

.col {
    @include col-base;
    width: 100%;
    flex: 1 1 0;
    max-width: 100%;
}

.col-auto {
    @include col-base;
    flex: 0 0 auto;
    width: auto;
}

@for $i from 1 through $columns {
    $width: math.div(100% * $i, $columns);
    .col-#{$i} {
        @include col-base;
        width: 100%;
        flex: 0 0 $width;
        max-width: $width;
    }
}

@each $bp, $size in $breakpoints {
    @media (min-width: #{$size}) {
        @for $i from 1 through $columns {
            $width: math.div(100% * $i, $columns);
            .col-#{$i}-#{$bp} {
                @include col-base;
                width: 100%;
                flex: 0 0 $width;
                max-width: $width;
            }
        }
    }
}
