@use "../abstracts/breakpoints" as bp;
$breakpoints: bp.$breakpoints;
$total-columns: 12;

.grid {
    display: grid;
    grid-template-columns: repeat(#{$total-columns}, 1fr);
    gap: var(--grid-gap);
}

.g-col {
    grid-column: span 1;
}

.g-col-auto {
    grid-column: auto;
}

@for $i from 1 through $total-columns {
    .g-col-#{$i} {
        grid-column: span #{$i};
    }
}

@each $bp, $size in $breakpoints {
    @media (min-width: #{$size}) {
        @for $i from 1 through $total-columns {
            .g-col-#{$i}-#{$bp} {
                grid-column: span #{$i};
            }
        }
    }
}
